/*
# Room:			PartyMusic
# Author:		-PinguiN-
# Skin: 		Christmas 2016
# Made for:		https://plug.dj/partymusic-cz-sk
# Created:		20.11.2016
## WARNING ##
You are NOT allowed using this file without creator's permission!
*/

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.room-background{background:url('http://i.imgur.com/Xt5VyJS.png') !important; top:20px !important;}

#dj-canvas {
top:-40px;
}

#audience-canvas {
top:-20px;
}

.app-header {
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png') !important;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
	background:#354576;
box-shadow:inset 0px -3px #aaa;
}

#app-menu {
background:#354576;
box-shadow:inset 0px -3px #aaa;
border:none;
}

#app-menu .button {
background:#A34250;
height:54px;
transition:0.5s;
border-radius:0 0px 20px 0;
}

#app-menu .button:hover {
	background:#b56772;
}

#app-menu.open .button {
border-radius:0;
}

#app-menu .list {
background:rgba(53,69,118,0.8);
}

#app-menu .list .item {
box-shadow:none;
color:#777;
}

#app-menu .list .item:hover {
box-shadow:inset 4px 0 0 #A34250;
background:rgba(255,255,255,0.2);
}

#room-bar .dark-label,
#now-playing-bar .dark-label {
color:#fff;
font-weight:bold;
}

.bar-divider {
background:#fff;
}

#rs-skip-button {
	background:#A34250 !important;
	right:54px !important;
	transition:0.5s !important;
border-radius:0 0 0 30px;
}

#rs-skip-button:hover {
	background:#b56772 !important;
}

#history-button {
	background:#A34250;
	transition:0.5s;
	z-index:2;
}

#history-button:hover {
	background:#b56772;
}

#history-button.selected {
	background:#A34250;
	box-shadow:0 0 0 #fff, inset 0 0 50px #fff !important;
}

#header-panel-bar {
box-shadow:inset 0px -3px 0 #aaa;
}

.header-panel-button {
	box-shadow:none;
	border:none;
	transition:0.5s;
	opacity:0.5;
}

#header-panel-bar .header-panel-button:hover {
	opacity:1;
	background:nonoe;
}

.header-panel-button.selected {
	box-shadow:inset 0px -3px 0 #A34250;
	opacity:1;
	background:#2a375e;
}

#chat {
background:#354576;
}

#chat-header .divider {
display:none;
}

#chat-header {
background:#A34250;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 -2px 0 #aaa;
    border: none;
    transition: 0.5s;
}

#chat .cm:nth-child(2n+1) {
background:#2a375e !important;
}

#chat .welcome {
color:#fff;
box-shadow:inset 0 0 0 1px #fff;
padding:10px;
}

#chat .welcome:before {
background:url('http://i.imgur.com/j6dmEqP.png') no-repeat center;
height:80px;
content: " ";
font-size:14pt;
text-align:center;
display:block;
}

#chat-input, .input-background, #rcs-menu .search, #search-bar {
transition:0.5s;
color:#333 !important;
}

#chat-input-field {
color:#333 !important;
}

#chat .from.dj .un,
#chat .from.staff .un,
.is-dj .name, .is-staff .name,
#user-rollover.is-staff .info .role span {
color:#61c3e4;
}

#chat .mention.is-dj, #chat .mention.is-staff {
background:transparent;
box-shadow:inset 0 0 0 1px #61c3e4 !important;
}

#chat .mention, #chat .mention.is-you {
background:transparent;
box-shadow:inset 3px 0 0 #fff !important;
}

#chat-input,
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background {
background:#fff !important;
}

#chat-input.focused,
#user-lists .list-header .input-background.focused,
.app-right .friends .list-header .input-background.focused {
box-shadow:inset 0 0 10px #777 !important;
}

#user-rollover.is-staff .thumb, #waitlist .is-staff .thumb {
border-color:#61c3e4 !important;
}

#waitlist .list .user {
background:transparent;
}

#user-lists {
background:#354576;
}

#user-lists .header {
background:#A34250;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 -2px 0 #aaa;
    border: none;
    transition: 0.5s;
}

#user-lists .header .button {
padding:0 5px;
top:0;
height:46px;
box-shadow: inset 0 -2px 0 #aaa;
}

#user-lists .header .button.room.selected {
box-shadow: inset 0 0 10px #333;
border:none;
}

#user-lists .header .button.staff.selected {
box-shadow: inset 0 0 10px #354576;
border:none;
}

#user-lists .header .button.bans.selected,
#user-lists .header .button.mutes.selected,
#user-lists .header .button.ignored.selected {
box-shadow: inset 0 0 10px #722e38;
border:none;
}

#user-lists .header .button i {
top: 10px !important;
left: 12px !important;
}

#user-lists .header .button:first-child {
margin-left:40px;
}

#user-lists .list .user:first-child,
#user-lists .list .user:last-child {
display:none;
}

#user-lists .list .user{
padding:5px 0;
}

#user-lists .list .user * {
margin:5px 0;
}

#user-lists .list .user:hover {
background:#2a375e;
}

#user-lists .list.staff .group {
background:#2a375e;
margin:0;
border-top:1px solid #61c3e4 !important;
border-bottom:1px solid #61c3e4 !important;
}

#user-lists, #waitlist {
background:#354576;
}

.app-right .friends {
background:#354576;
}

.app-right .friends .header {
background: #A34250;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 -2px 0 #aaa;
    border: none;
    transition: 0.5s;
}

.app-right .friends .header i {
display:none;
}

.app-right .friends .header span:before {
    background: url(http://i.imgur.com/0gt0Ylr.png);
    width: 16px;
    height: 16px;
    display: block;
    content: " ";
    position: absolute;
    left: 28px;
    top: 2px;
}

.app-right .friends .header span {
    position: relative;
    text-align: center;
    display: block;
    width: 290px;
}

.app-right .friends .list .row {
	transition:0.5s;
}

.app-right .friends .list .row:hover {
	box-shadow:inset 3px 0 0 #89be6c;
	background:rgba(137,190,108,0.2);
}

.app-right .friends .list .row.is-offline:hover {
	box-shadow:inset 3px 0 0 #C04043;
	background:rgba(192,64,67,0.2);
}

.app-right .friends .list .row .room {
	transition:0.5s;
}

.app-right .friends .list .row:hover .room,
.app-right .friends .list .row.clickable:hover .room {
	padding:11px;
	background:#89BE6C;
	top:-11px;
	right:-5px;
	color:#fff;
	text-decoration:none;
}

.app-right .friends .list .row.is-offline:hover .room {
	background:#C04043;
}

#rcs-menu {
background:#354576;
}

#rcs-menu .group {
background: #2a375e;
    margin-top: 10px !important;
    border:none !important;
}

.rcspdjheader span {
color:#fff !important;
}

.rsrow {
padding:5px;
}

.rsrow:hover {
background: #2a375e !important;
}

#rs-settings .container .item span, #rcs-menu .item span {
color:#aaa !important;
}

#dj-button {
margin:28px -40px;
background:rgba(119,123,121,0.6) !important;
border-radius:50px;
transition:0.3s;
}

#dj-button:hover {
background:rgba(119,123,121,0.8) !important;
}

#dj-button .left {
background:#2a375e !important;
border-radius:50px 0 0 50px;
}

#dj-button:hover .left {
background:#212c4b !important;
}

#rs-eta {
color:#fff !important;
}

#vote {
margin:28px 20px;
}

#vote * {
color:#333;
}

.votes-rs .title {
color:#fff !important;
}

#woot {
background:rgba(119,123,121,0.6) !important;
border-radius:50px 0 0 50px;
}

#woot .bottom {
background:rgba(255,255,255,0.4) !important;
box-shadow:inset 0 -3px #2a375e;
border-radius:0 0 0 50px;
}

#grab {
background:rgba(119,123,121,0.6) !important;
}

#grab .bottom {
background:rgba(255,255,255,0.4) !important;
box-shadow:inset 0 -3px #2a375e;
}

#meh {
background:rgba(119,123,121,0.6) !important;
border-radius:0 50px 50px 0;
}

#meh .bottom {
background:rgba(255,255,255,0.4) !important;
box-shadow:inset 0 -3px #2a375e;
border-radius:0 0 50px 0;
}

#woot.selected {
background:rgba(144,173,47,0.6) !important;
}

#woot.selected .bottom {
box-shadow:inset 0 -3px #a6bd58;
}

#woot.active .bottom {
box-shadow:inset 0 -3px #a6bd58;
}

#woot-rs {
background:none !important;
border:none;
}

#woot-rs .title.woot {
background:rgba(144,173,47,0.6) !important;
}

.voteslist {
background:rgba(0,0,0,0.4) !important;
}

.votes-rs .voteslist p {
color:#fff !important;
}

#grab.selected {
background:rgba(170,116,255,0.4) !important;
}

#grab.selected .bottom {
box-shadow:inset 0 -3px #aa74ff;
}

#grab.active .bottom {
box-shadow:inset 0 -3px #aa74ff;
}

#grab-rs {
background:none !important;
border:none;
}

#grab-rs .title.grab {
background:rgba(170,116,255,0.6) !important;
}

#meh.selected {
background:rgba(196,46,59,0.4) !important;
}

#meh.selected .bottom {
box-shadow:inset 0 -3px #c42e3b;
}

#meh.active .bottom {
box-shadow:inset 0 -3px #c42e3b;
}

#meh-rs {
background:none !important;
border:none;
}

#meh-rs .title.meh {
background:rgba(196,46,59,0.6) !important;
}

#footer-user .buttons {
background:#2a375e;
box-shadow:inset 0px 3px #aaa !important;
top:0;
}

#footer-user .buttons .button {
box-shadow:none;
}

#footer-user .buttons .button:hover {
background:linear-gradient(#2a375e, #545e7e) !important;
box-shadow:inset 0px 3px #A34250 !important;
}

#footer-user .info.showing {
background:#eee;
border-radius:20px 20px 0 0;
}

#footer-user .info .name span {
color:#333;
}

#playlist-meta {
box-shadow:inset 0px 3px #aaa;
background:#2a375e;
top:1px;
}

#playlist-button {
box-shadow:none;
background:#A34250;
}

#footer .bar-button .section .chevron:before,
#footer .bar-button .section .chevron:after {
background:#aaa;
}

#footer-user .info .meta .level .value {
font-weight:bold;
color:#888;
}

#footer-user .info .meta div.bar {
background:#333 !important;
}

#footer-user .info .meta .bar .progress {
background:#A34250;
}

#footer-user .info .points .pp {
left:5px;
}

#footer-user .info .points .value {
color:#888 !important;
left:-5px !important;
position:relative;
}

#search {
background:#2a375e;
}

#playlist-menu {
background:#2a375e;
}

#media-panel {
background:#222;
}

#playlist-menu .title {
font-size:22px;
color:#fff;
}

.media-list .row.selected {
background:#354576;
}

.media-list .row.in-history {
	background:rgba(163,66,80,0.3);
color:#fff;
}

.media-list .row.in-history.selected {
	background:rgba(163,66,80,0.8);
color:#fff !important;
}

.media-list .selected .actions {
background:#A34250;
}

#playlist-menu .menu .row .count {
color:#b56772;
}

#playlist-menu .menu .row.selected {
background:rgba(53,69,118,0.8);
box-shadow:inset 3px 0 0 #fff;
}

#playlist-menu .menu .row:hover {
background:rgba(53,69,118,0.8);
}

#user-view {
background:#222;
}

#user-menu {
background:#2a375e;
}

#user-menu .item.selected {
background:rgba(53,69,118,0.8);
box-shadow:inset 3px 0 0 #fff;
}

#user-menu .item:hover {
background:rgba(53,69,118,0.8);
}
