/*
# Room:			PartyMusic
# Author:		-PinguiN-
# Made for:		https://plug.dj/partymusic-cz-sk
# Created:		23.8.2016
## WARNING ##
You are NOT allowed using this file without creator's permission!
*/

* {
	font-family:Tahoma, sans-serif !important;
}

.icon{background-image:url('http://i.imgur.com/CakWhe1.png')}

/* Plug Menu */

#app-menu {
	background:none;
	border:none;
}

#app-menu .button {
	background:#2878BA;
	box-shadow:0.1px 0 10px #000;
	height:54px;
	transition:0.5s;
}

#app-menu .list {
	background:rgba(0,0,0,0.4);
}

#app-menu .list .item {
	box-shadow:none;
	transition:0.5s;
}

#app-menu .list .item:hover {
	background:rgba(50,87,125,0.5);
	box-shadow:inset 3px 0 0 #32577d;
}

#app-menu .list .logout {
	position:relative; left:0; bottom:0;
	width:100%;
	height:55px;
	border:none;
	text-align:left;
	transition:0.5s;
}

#app-menu .list .logout i {
	display:none;
}

#app-menu .list .logout div {
	position:relative;
	top:16px;
	float:left;
	margin-left:10px;
}

#app-menu .list .logout:hover {
	border:none;
	background:rgba(192,64,67,0.5);
	box-shadow:inset 3px 0 0 #C04043;
}

#app-menu .list .rcsunload {

}

/* Header */

.app-header {
	background:#1C3146;
	box-shadow:0 1px 10px #000;
}

.bar-divider {
	background:#fff;
}

.dark-label {
	color:#aaa;
}

#rs-skip-button {
	background:#2878BA !important;
	box-shadow:-1px 0px 10px #000 !important;
	right:54px !important;
	transition:0.5s !important;
}

#rs-skip-button:hover {
	background:#2878BA !important;
	box-shadow:0 0 0 #000, inset 0 0 8px #000 !important;
}

#history-button {
	background:#2878BA;
	transition:0.5s;
	z-index:2;
	box-shadow:5px 0px 10px -5px #000 !important;
}

#history-button:hover {
	background:#2878BA;
	box-shadow:0 0 0 #000, inset 0 0 8px #000 !important;
}


#history-button.selected {
	background:#2878BA !important;
	box-shadow:0 0 0 #000, inset 0 0 20px #000 !important;
}

#header-panel-bar {
	box-shadow:inset 0px -3px #444;
}

.header-panel-button {
	box-shadow:none;
	border:none;
	transition:0.5s;
	opacity:0.6;
}

#header-panel-bar .header-panel-button:hover {
	opacity:1;
	background:none;
}

.header-panel-button.selected {
	box-shadow:inset 0px -3px #2878BA, inset 0 0 20px #000;
	opacity:1;
	background:none;
}

/* Chat */

#chat-header {
	background:#222;
}

#chat-header .divider {
	display:none;
}

#chat-header, #chat-messages {
	border-bottom:1px solid #222;
}

#chat {
	background:#1C3146;
}

#chat .cm:nth-child(2n+1) {
	background:#192c3f;
}

#chat .welcome {
	color:#4aaee7;
}

#chat-messages .timestamp {
	color:#aaa;
}

#chat .mention {
	background:none !important;
	box-shadow:inset 3px 0 0 #4aaee7;
}

#chat .mention .name {
	color:#4aaee7;
}

#chat .moderation, #chat .moderation .from, #chat .moderation .from .un {
	color:#4aaee7 !important;
}

#chat .role-host .un, #chat .role-cohost .un {
color:#4aaee7 !important;
}

#chat .role-manager .un, #chat .role-bouncer .un, #chat .role-dj .un {
	color:#4aaee7 !important;
}

#chat .delete-button {
	transition:0.5s;
	padding:4px;
}

#chat .delete-button:hover {
	transition:0.5s;
	background:#4aaee7;
}

.radiantimg-delete {
	transition:0.5s;
	padding:4px !important;
	background:#444A59 !important;
}

.radiantimg-delete:hover {
	background:#4aaee7 !important;
}

.rcs-delete {
	transition:0.5s;
	padding:4px !important;
	background:#444A59 !important;
	font-weight:500;
}

.rcs-delete:hover {
	background:#4aaee7 !important;
}

#chat-input {
	background:rgba(44,181,232,0.2);
	transition:0.3s;
}

#chat-input.focused {
	box-shadow:inset 0 0 10px #000 !important;
	border:none;
}

/* User Lists */

#user-lists, #waitlist {
	background:#1C3146;
}

#user-lists .header, #waitlist .header {
	background:#222;
}

#user-lists .header .button {
	transition:0.5s;
	border-radius:20px;
}

#user-lists .header .button.room.selected {
	border:none;
	box-shadow:inset 0 0 30px #4aaee7;
}

#user-lists .header .button.staff.selected {
	border:none;
	box-shadow:inset 0 0 30px #4aaee7;
}

#user-lists .header .button.bans.selected,
#user-lists .header .button.mutes.selected,
#user-lists .header .button.ignored.selected {
	border:none;
	box-shadow:inset 0 0 30px #C04043;
}

#user-lists .list .user {
	transition:0.5s;
}

#user-lists .list .user:hover {
	background:#324558;
}

#user-lists .list .user.role-host:hover,
#user-lists .list .user.role-cohost:hover {
box-shadow:inset 3px 0px 0px #4aaee7 !important;
	color:#4aaee7 !important;
}

#user-lists .list .user.role-host .name,
#user-lists .list .user.role-cohost .name {
	color:#4aaee7 !important;
}

#user-lists .list .user.is-staff:hover {
	box-shadow:inset 3px 0px 0px #4aaee7;
}

#user-lists .list .user.is-staff .name {
	color:#4aaee7;
}

#user-lists .list.staff .group {
	background:#192c3f;
	border:1px solid #4aaee7 !important;
	width:340px;
}

#user-lists .list.bans .user .label, #user-lists .list.mutes .user .label {
	color:#4aaee7;
}

#user-lists .list.bans .user .timestamp, #user-lists .list.mutes .user .expires {
	color:#aaa;
}

/* Waitlist */

#waitlist .list .user {
	background:none;
	transition:0.5s;
}

#waitlist .list .user:hover {
	background:#324558;
}

#waitlist .list .user .is-staff .name {
	color:#4aaee7;
}

	/*
	Host/Co-Host
	# Klaudí
	# Čáro
	# Kevin
	*/
	#waitlist .list [data-uid="3437401"].user .name span {
		color:#4aaee7 !important;
	}
	#waitlist .list [data-uid="11591166"].user .name span {
		color:#4aaee7 !important;
	}
	#waitlist .list [data-uid="4106134"].user .name span {
		color:#4aaee7 !important;
	}

/* Friends */

.app-right .friends {
	background:#1C3146;
}

.app-right .friends.has-requests .header {
	top:49px !important;
	box-shadow:inset 0 -3px 0 #444;
	transition:0.5s;
	background:#1C3146;
}

.app-right .friends .header i {
	background:#4aaee7;
}

#friends-button.notify .request-count {
	background:#2878BA;
	border:16px;
	padding:4px 4px;
}

.app-right .friends.has-requests .header:hover {
	box-shadow:inset 0 -3px 0 #2787BA, inset 0 -10px 20px -5px #2878BA;
}

.app-right .friends.has-requests .list-header {
	top:0 !important;
	background:#222;
}

.app-right .friends .list-header {
	border:none !important;
	background:#222;
}

.app-right .friends .list .row {
	transition:0.5s;
}

.app-right .friends .list .row:hover {
	box-shadow:inset 3px 0 0 #89be6c;
	background:rgba(137,190,108,0.2);
}

.app-right .friends .list .row.is-offline:hover {
	box-shadow:inset 3px 0 0 #C04043;
	background:rgba(192,64,67,0.2);
}

.app-right .friends .list .row .room {
	transition:0.5s;
}

.app-right .friends .list .row:hover .room,
.app-right .friends .list .row.clickable:hover .room {
	padding:12px;
	background:#89BE6C;
	top:-11px;
	color:#fff;
	text-decoration:none;
}

.app-right .friends .list .row.is-offline:hover .room {
	background:#C04043;
}

/* RCS */

#rcs-menu {
	background:#1C3146;
}

#rcs-menu .header {
	background:#222;
}

#rcs-menu .group {
	background:#2878BA;
}

#rcs-menu .item {
	transition:0.5s;
}

#rcs-menu .item:hover {
	background:#324558;
}

.input-background, #rcs-menu .search {
	background:rgba(44,181,232,0.2) !important;
	transition:0.3s;
}

.input-background.focused, #rcs-menu .search.focused {
	box-shadow:inset 0 0 10px #000 !important;
	border:none;
}

/* Footer */

#footer {
	background:#1C3146;
}

#footer-user .buttons .button {
	box-shadow:none !important;
	opacity:0.6;
	transition:0.5s;
}

#footer-user .buttons .button:hover {
	opacity:1;
	background:none !important;
	box-shadow:inset 0 0 20px #000 !important;
}

#footer-user .info.showing {
	box-shadow:0 0 10px #000;
	border-radius:10px;
	border-bottom:2px solid #2878BA;
	background:#222;
}

#footer-user .info.is-staff .name span {
	color:#fff;
}

#footer-user .info .meta div.bar {
	border-radius:10px;
}

#footer-user .info .meta div.bar .progress {
	border-radius:10px;
	background:#2878ba;
	box-shadow:inset 0 0 10px #4aaee7;
}

#footer-user .buttons .button.settings .icon {
	transition:0.5s;
}

#footer-user .buttons .button.settings:hover .icon {
	transform: rotate(360deg);
}

#playlist-button {
	background:#2878ba;
}

[data-cid^="4006230-"] .msg .from .un {
	position: relative;
	left: -1px;
	padding-left: 18px;
	background-image:url('http://i.imgur.com/qh3L2l9.png');
	background-repeat: no-repeat;
	background-position: -1px center;
	background-size: 15px auto;
	color:#7cbf00 !important;
}

[data-cid^="4006230-"] .msg .from .un:before {
content: " [DESIGNER] ";
color:#7cbf00;
}

#user-lists .list .user.id-4006230 .name:before {
content: "[DESIGNER] ";
color:#7cbf00;
}
